.person-content-item {
    text-align: center;
    padding-bottom: 50px;
    outline: none;
}

.person-content-item p:first-child {
    font-size: 16px;
    color: #BBBBBB;
    padding-bottom: 43px;
}

.person-name {
    font-size: 16px;
    color: #18cfab;
    text-transform: uppercase;
    font-weight: bolder;
}

.person-position {
    padding-top: 10px;
    font-size: 14px;
    color: #BBBBBB;
    text-transform: capitalize;
    font-weight: normal;
    padding-bottom: 37px;
}

.person-photo img {
    width: 200px;
    height: 200px;
    border: 4px solid #18cfab;
    border-radius: 50%;
    box-shadow: 0 0 1px 10px rgba(24, 207, 171, 0.5);
    display: inline-block;
}

.wrap-slider {
    padding-bottom: 70px;
}

.wrap-slider-nav-btns {
    /*border: 1px solid orange;*/
    width: 580px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-nav {
    /*border: 1px solid red;*/
    width: 500px;
    display: block;

    margin: 0 auto;
}

.thumb {
    padding: 30px 35px;
    outline: none;
    transition: all linear 200ms;
    /*border: 1px solid transparent;*/
    /*left: 20px;*/
}

.thumb:hover img {
    border: 2px solid #18cfab;
    cursor: pointer;
}

.thumb img {
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 1px 5px rgba(24, 207, 171, 0.5);
}

.thumb:active img {
    border: 2px solid #18cfab;
}

.button-previous,
.button-next {
    width: 30px;
    height: 30px;
    border: 1px solid #BBBBBB;
    font-size: 5px;
    font-weight: bolder;
    color: #BBBBBB;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button-previous:hover,
.button-next:hover {
    border: 1px solid #14ac8e;
    background-color: #14ac8e;
    cursor: pointer;
}

.thumb.slick-center img {
    border: 2px solid #18cfab;
}

.thumb.slick-center {
    /*transition: all linear 200ms;*/
    margin-top: -25px;
}